.dishImage {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.mainContainer{
    padding-top: 50px;
    padding-bottom: 80px;
    background-color: rgba(223, 63, 0, 0.07);
}

.leftBackground{
    background-image: url(/hero-shape-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 90%;
    opacity: .05;
    position: absolute;
    top: 10%;
    width: 100%;
}

.leftContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rowContainer{
    display: flex;
    flex-direction: row;
}


@media (max-width: 768px) {
    .rowContainer {
        flex-direction: column-reverse;
    }
}

